li {
    list-style-type: none;
}

li:before {
    content: "\01F354";
}

.my-flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.item {
    width: 180px;
    height: 200px;
    margin: 10px;
    background: blue;
}

.item1 {
    width: 180px;
    height: 350px;
    margin: 10px;
    background: blue;
}


.abs {
    position: absolute;
    top: 30px;
    right: 50px;
    color: blueviolet;
    border: dotted;
}

.rlt {
    position:relative;
    left: 50px;
    top: 25px;
}

.rlt1 {
    position:relative;
    left: 150px;
    top: 25px;
}

.layer1 {
    float: right;
    background: #676348;
    border: 1px solid #b81515;
    padding: 10px;
    margin-right: 20px;
    width: 50%;
}